.about-me {
  position: relative;
  width: 100%;
  height: 100%;
  
  @include tablets{
    background: url("../images/content/parallax-buddha/bg_buddha_768.jpg") center center / cover no-repeat;
  }
}
