.footer__socials {
  margin-top: 35px;
  padding-left: 18px;
}

.socials__link-footer {
 position: relative;
}

.socials__link-footer:before {
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid #464d62;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate(-25% , -25%);
}

