.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px; 
}

.header__left {
  width: 20%;
  text-align: center;

  @include laptop {
    text-align: left;
  }
}

.header__menu {
  width: 60%;
  display: flex;
  justify-content: center;

  @include laptop {
    width: 10%;
  }
}

.header__right {
  width: 20%;
  display: flex;
  justify-content: center;

  @include phones {
    display: none;
  }
}

