.parallax__buddha {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 1440PX;
  @include desktop {
    min-height: 1340PX;
  }
  @include tablets {
    min-height: 1100PX;
  }
}