.send {
  background: linear-gradient(to right, #9300e8, #4a00ed);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 26px 18px;
  margin-top: 40px;
  width: 300px;
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 2;
  @include laptop {
    margin: 40px auto 0;
  }
  &:hover {
    background: linear-gradient(to right, #9300e8, #9300e8, #4a00ed); 
  }
}