.swiper {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
}

.swiper-menu {
  position: relative;
}

.swiper-button-prev {
  top:25%;
  left: 40%;
}

.swiper-button-next {
  top:25%;
  left: 45%;
}