.skills-row__list {
  display: flex;
}

.values__text {
  opacity: .5;
  font-weight: 600;
  margin-bottom: 60px;
}

.values-left__content {
  margin-left: 110px;
}

.values__left {
  width: 63%;

  @include desktop {
    margin-left: -65px;
  }
}