.values-section {
  margin-bottom: 160px;
  z-index: 100;
}

.values__title {
  padding-top: 150px; 
  text-align: center;
  margin-bottom: 60px;
}

.title__values {
  font-size: 30px;
  font-weight: 700;
}

.values__content {
  display: flex;
}



