.container
  .hero__content
    .user-data
      .user-data__desc Личный сайт <br> веб разработчика
      .user-data__name Михаила <br> Туркина  
  .scroll
    button(href="#").hero__bottom-btn.scroll-down-btn
      .scroll-down__text Скролл
      +icon("scroll", "scroll-down__icon")