script(type="text/x-template")#taking-container
  .talking-slider
    info(
      @slide="handleSlide"
      :currentIndex="currentIndex"
    )
    display(
      :currentIndex="currentIndex"
      :currentSpeaker="currentSpeaker"
      :nextSpeaker="nextSpeaker"
    )


script(type="text/x-template")#talking-info
  .talking__info
    titles
    .talking__button
      button(@click="$emit('slide', 'prev')" :disabled="indexStart").talking__btn
        +icon("arrow", "arrow__left-img talking__btn-color")
      button(@click="$emit('slide', 'next')" :disabled="indexEnd").talking__btn
        +icon("arrow", "arrow__right-img talking__btn-color" )
    

script(type="text/x-template")#talking-titles
  .talking__titles 
    p Что обо мне говорят


script(type="text/x-template")#talking-display
  .talking__display
    .talking__content-left
      +icon("quote", "quote-img")
      .talking__content-text {{currentSpeaker.text}}
      .talking__content-autor
        .talking__content-autor__avatar
          img(:src="currentSpeaker.photo").talking-img
        .talking__content-autor__desc
          .talking__content-autor__name {{currentSpeaker.name}}
          .talking__content-autor__rank {{currentSpeaker.occ}}
    .talking__content-right
      +icon("quote", "quote-img")
      .talking__content-text {{nextSpeaker.text}}
      .talking__content-autor
        .talking__content-autor__avatar
          img(:src="nextSpeaker.photo").talking-img
        .talking__content-autor__desc
          .talking__content-autor__name {{nextSpeaker.name}}
          .talking__content-autor__rank {{nextSpeaker.occ}}