include ./mixins.pug
include ./pug/parallax

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script(src="./main.js")
  body
    .wrapper
      section.welcome-section
        //HERO
        section.header
          include ./pug/header.pug 
        section.parallax__mountain#hero
          +parallax('mountains')
          .fullscreen-section.hero
            include ./pug/hero.pug  
          //ABOUT 
          section.about-section#about
            include ./pug/about.pug
      .triangles
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape
          polygon(points="0,0 0,100 1000,100")
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape
          polygon(points="0,100 1000,100 1000,0")   
      //VALUES
      section.values-section
        include ./pug/values.pug
      //WORKS
      section.works
        include ./pug/work.pug
      .triangles.triangles__work
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape
        polygon(points="0,0 500,100 1000,0")
      //ABOUT_ME
      .parallax__buddha
        +parallax('buddha')
        //TALKING
        section.talking
          include ./pug/talking.pug
        //LINK WITH ME
        section.link__withme
          include ./pug/link-withme.pug 
      //FOOTER
      section.footer
        include ./pug/footer.pug
    
            